* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.container {
    width: 390px;
    height: 844px;
    overflow: hidden;
    position: relative;
}

.tree-image {
    width: 528px;
    height: 939px;
    object-fit: cover;
    position: absolute;
    left: calc(50% - 14px);
    top: calc(50% + 20px); 
    transform: translate(-50%, -50%);
}

/* Start game*/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background: white;
    opacity: 0.75;
    z-index: 5;
    transition: opacity 1.3s ease;
}

.start-btn {
    position: absolute;
    left: 139px;
    top: 422px;

    font-family: 'Allura';
    font-size: 64px;
    color: #D00000;
    z-index: 15;
    cursor: pointer;
    transition: all 0.5s ease;
}

.start-btn:hover {
    transform: scale(1.08);
    text-shadow: 0 0 3px rgba(208, 0, 0, 0.5);
}

.overlay.hidden{
    opacity: 0;
}

.start-btn.hidden{
    opacity: 0;
    transform: scale(0.9);
}

/*present*/
.present-video {
    position: absolute;
    width: 120px;
    height: 106px;
    object-fit: cover;

    left: 380px;
    top: 290px;

    opacity: 0;
    visibility: hidden;

    transition: all 0.5s ease-out;
    mix-blend-mode: darken;
    z-index: 10;

    pointer-events: none;
}

.present-video.show {
    opacity: 1;
    visibility: visible;
    left: 280px;
}

/*James*/
.ornament {
    position: absolute;
    width: 31px;
    height: 42px;

    left: 324px;
    top: 311px;
    opacity: 0;
    visibility: hidden;

    transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform-origin: center center;
    z-index: 20;
    pointer-events: none;
}

.ornament.show {
    opacity: 1;
    visibility: visible;
    width: 65px;
    height: 86px;
    left: 308px;
    top: 206px;
    pointer-events: auto;
    cursor: grab;
}

.point {
    position: absolute;
    width: 12px;
    height: 12px;
    opacity: 0;
    visibility: hidden;
    z-index: 18;
}

.point.show {
    opacity: 1;
    visibility: visible;
}

#point1 {
    left: 220px;
    top: 312px;
}