* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.container {
    width: 390px;
    height: 844px;
    overflow: hidden;
    position: relative;
}

.tree-image {
    width: 528px;
    height: 939px;
    object-fit: cover;
    position: absolute;
    left: calc(50% - 14px);
    top: calc(50% + 20px); 
    transform: translate(-50%, -50%);
}

/* Start game*/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background: white;
    opacity: 0.75;
    z-index: 5;
    transition: opacity 1.3s ease;
}

.start-btn {
    position: absolute;
    left: 139px;
    top: 422px;

    font-family: 'Allura';
    font-size: 64px;
    color: #D00000;
    z-index: 15;
    cursor: pointer;
    transition: all 0.5s ease;
}

.start-btn:hover {
    transform: scale(1.08);
    text-shadow: 0 0 3px rgba(208, 0, 0, 0.5);
}

.overlay.hidden{
    opacity: 0;
}

.start-btn.hidden{
    opacity: 0;
    transform: scale(0.9);
}

/*present*/
.present-video {
    position: absolute;
    width: 120px;
    height: 106px;
    object-fit: cover;

    left: 380px;
    top: 290px;

    opacity: 0;
    visibility: hidden;

    transition: all 0.5s ease-out;
    mix-blend-mode: darken;
    z-index: 10;

    pointer-events: none;
}

.present-video.show {
    opacity: 1;
    visibility: visible;
    left: 280px;
}

.ornament-img {
    position: absolute;
    width: 31px;
    height: auto;
    left: 324px;
    top: 311px;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
    pointer-events: none;
}

.ornament-img.show {
    opacity: 1;
    visibility: visible;
    width: 65px;
    pointer-events: auto;
}

/* James */
#ornament1 .ornament-img.show {
    left: 308px;
    top: 206px;
}

#ornament1 .ornament-point {
    left: 220px;
    top: 308px;
}

/* Keonho */
#ornament2 .ornament-img.show {
    left: 308px; 
    top: 206px;
}

#ornament2 .ornament-point {
    left: 143px;
    top: 386px;
}

/* Seonghyeon */
#ornament3 .ornament-img.show {
    left: 308px; 
    top: 206px;
}

#ornament3 .ornament-point {
    left: 245px;
    top: 477px;
}

/* Juhoon */
#ornament4 .ornament-img.show {
    left: 308px; 
    top: 206px;
}

#ornament4 .ornament-point {
    left: 115px;
    top: 520px;
}

/* Martin */
#ornament5 .ornament-img.show {
    left: 308px; 
    top: 206px;
}

#ornament5 .ornament-point {
    left: 200px;
    top: 595px;
}

.ornament-point {
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 18;
    opacity: 0;
    visibility: hidden;
}

.ornament-point.show {
    opacity: 1;
    visibility: visible;
}

.final-message {
    position: absolute;
    font-family: 'Allura', cursive;
    font-size: 40px;
    color: #d00000;
    left: 70px;
    top: 105px;
    
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1.5s ease;
    z-index: 30;
}

.final-message.show {
    opacity: 1;
    transform: scaleX(1);
}

.sub-message {
    position: absolute;
    font-family: 'Allura', cursive;
    font-size: 24px;
    color: #000000;
    left: 70px;
    top: 143px;
    
    opacity: 0;
    transform: translateY(10px);
    transition: all 1s ease 0.5s; /* Задержка 0.5s после первой надписи */
    z-index: 30;
    white-space: nowrap;
}

.sub-message.show {
    opacity: 0.6;
    transform: translateY(0);
}